body {
	margin: 0 60px auto 60px;
}

#wrapper {
	display: block;
	width: 100%;
}

.textwidget {
	background-color: #F5F5F5 ;
	height: 40px;
}

ul.header_top li {
	font-size: 13px;
	font-family: Arial;
	display: inline;
	float: left;
	border-right: 1px solid;
	padding: 10px;
	padding-right: 18px;
	padding-left: 18px;
}

.header-area {
	clear: both;
}

.logo {
	width: 10%;
	float: left;
	padding-top: 20px;
	padding-bottom: 20px;
}
ul.menu {
	display: inline-block;
	font-family: Georgia;
	font-height: bold;
	font-size: 14px;
}

ul.menu li {
	display: inline;
	float: left;
	clear: both;
}
.slogan {
	background-color: #F5F5F5;
	width: 100%;
	height: 40px;
	font-size: 17px;
	font-color: blue;
	text-transform: uppercase;
	text-align: center;
	padding-top: 30px;

}
.home-title {
	text-align: center;
	clear:both;
	height: 60px;
	padding-top: 70px;
	padding-bottom: 30px;
	font-size: 40px;
}
.photo {
	display: table;
	float: left;
	width: 100%;
	clear: both;
	margin:0 auto;
}

.table_cell_photo {
	height: auto;
	margin-right: 5px;
	position: relative;
	float: left;
	width: 230px;
	height: 230px;
	margin-bottom: 5px;

}

.title-line {
	width: 50px;
	height: 3px;
	background-color: #afb0b4;
	margin: 0 auto 30px auto;
}

.awards {
	text-align: center;
}